{% extends 'core/base.html' %}
{% load static %}

{% block title %}Agenda - Ponto de Equilíbrio{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'core/css/alerts.css' %}">
<link rel="stylesheet" href="{% static 'core/css/agenda/agenda.css' %}">
<link rel="stylesheet" href="{% static 'core/css/tema.css' %}">

{% endblock %}

{% block topbar_title %}Agenda{% endblock %}

{% block content %}
<div class="content">
    {% include "core/partials/filtros/filtro_agenda.html" %}
    <div id="lista-agendamentos">
        
        {% for data, agendamentos in agendamentos_agrupados.items %}
        <div class="agenda-data-group">{{ data }}</div>

        {% for ag in agendamentos %}
            <div class="agenda-item
                {% if ag.status == 'desistencia' %} agenda-bloqueada {% endif %}
                {% if ag.status == 'pre' %} status-pre
                {% elif ag.status == 'agendado' %} status-agendado
                {% elif ag.status == 'finalizado' %} status-finalizado
                {% elif ag.status == 'desistencia' %} status-desistencia
                {% elif ag.status == 'desistencia_remarcacao' %} status-dcr
                {% elif ag.status == 'falta_remarcacao' %} status-fcr
                {% elif ag.status == 'falta_cobrada' %} status-falta
                {% endif %}
            ">

            <div class="time-col">
                <div class="agenda-hora"> 
                    <div style="background-color: {{ ag.cor_especialidade }};" class="bolinha"></div>
                    <span>{{ ag.hora_inicio }} – {{ ag.hora_fim }} </span>

                </div>
                <div class="agenda-id"> 
                     
                    <span> ID: <i class="fa-solid fa-hashtag"></i>{{ag.id}} </span>

                </div>
            </div>


            <div class="info-col">
                <span class="paciente">{{ ag.paciente }}</span>
                <span class="profissional">{{ ag.especialidade }} com {{ ag.profissional }} </span>

                {% if ag.sessao_atual %}
                    {% if ag.codigo|slice:":3" == "REP" %}
                        <span class="sessao reposicao">
                            <i class="fa-solid fa-rotate-left"></i>Sessão de Reposição | {{ ag.codigo }}
                        </span>
                        
                    {% elif ag.codigo|slice:":3" == "BEN" %}
                        <span class="sessao beneficio">
                            <i class="fa-solid fa-gift"></i>
                            {% if "beneficio:sessao_livre" in ag.tags %}
                                Sessão de Status PREMIUM | {{ ag.codigo }}
                            {% elif "beneficio:sessao_aniversario" in ag.tags %}
                                Sessão de Aniversário | {{ ag.codigo }}
                            {% elif "beneficio:relaxante" in ag.tags %}
                                Sessão de Status VIP | {{ ag.codigo }}
                            {% else %}
                                Sessão de Aniversário | {{ ag.codigo }}
                            {% endif %}
                        </span>
                        
                    {% else %}
                        <span class="sessao normal">
                            <i class="fa-solid fa-calendar-check"></i>
                            Sessão {{ ag.sessao_atual }} de {{ ag.sessoes_total }} |
                            {{ ag.sessoes_restantes }} restante(s) | {{ ag.codigo }}
                            
                            {% if ag.pacote_ativo == False %}
                                |<span class='pac-finalizado'> Pacote Finalizado</span>
                            {% endif %}
                        </span>
                    {% endif %}
                {% endif %}
            </div>
            {% if ag.status == 'desistencia' %}
                    {% if ag.receita_observacoes %}
                        <span class="badge badge-danger">
                            Agendamento e receita cancelados — {{ ag.receita_observacoes }}
                        </span>
                    {% else %}
                        <span class="badge badge-danger">
                            Agendamento e receita cancelados
                        </span>
                    {% endif %}

               {% else %}
                <div class="status-col">
                    <select class="status-select" data-agendamento-id="{{ ag.id }}">
                        <option value="pre" {% if ag.status == 'pre' %}selected{% endif %}>
                            ✅ Pré-Agendado
                        </option>

                        <option value="agendado" {% if ag.status == 'agendado' %}selected{% endif %}>
                            ✅ Agendado
                        </option>

                        <option value="finalizado" {% if ag.status == 'finalizado' %}selected{% endif %}>
                            ✅ Consulta finalizada!
                        </option>

    
                        {% if ag.codigo|slice:":3" != "BEN" %}


                            <option value="desistencia_remarcacao" {% if ag.status == 'desistencia_remarcacao' %}selected{% endif %}>
                                ⚠️ DCR - Desmarcação com reposição
                            </option>

                            <option value="falta_remarcacao" {% if ag.status == 'falta_remarcacao' %}selected{% endif %}>
                                ⚠️ FCR - Falta com reposição
                            </option>

                        {% endif %}
                            
                        <option value="falta_cobrada" {% if ag.status == 'falta_cobrada' %}selected{% endif %}>
                            ❌ FC - Falta cobrada
                        </option>
                            {% if ag.sessoes_total == 1 or ag.sessoes_total == "1" %}
                                <option value="desistencia" {% if ag.status == 'desistencia' %}selected{% endif %}>
                                    ❌ D - Desistência
                                </option>
                            {% endif %}
                    </select>
                </div>
                
                <div class="actions-col">
                    <button type="button" class="action-btn tooltip btn-salvar-status" data-tooltip="Salvar Status" data-agendamento-id="{{ ag.id }}">
                        <i class="fa-solid fa-cloud-arrow-up"></i>
                        
                    </button>
                    <a href="{% url 'confirmacao_agendamento' ag.id %}">
                        <button type="button" class="action-btn tooltip" data-tooltip="Ver Detalhes"><i class="fa-solid fa-eye"></i>
                        </button>
                    </a>
                    <button data-id="{{ ag.id }}" type="button" id="openBtnEdit"
                        class="btn-editar-agendamento action-btn tooltip"data-tooltip="Editar Agendamento" ><i class="fa-solid fa-pen-to-square"></i></button>
                    
                </div>
            {% endif %}
            
            </form>

        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>

<!-- MODAL DE AGENDAMENTO REFATORADO -->
<div class="modal-overlay" id="modalAgendamento">
    <div class="modal modal-agendamento">
        
        <div class="modal-header">
            <div class="modal-title">
                <h2>Agendamento</h2>
            </div>
            <button class="modal-close" id="closeBtnAgendamento">&times;</button>
        </div>

        <div class="modal-body">
            <form id="agendamentoForm" method="post" action="{% url 'criar_agendamento' %}" novalidate>
                {% csrf_token %}

                <div id="aviso-pacote" class="aviso-premium aviso-c-pac" style="display: none;">
                    <div class="aviso-content">
                        <span id="mensagem-pacote"></span>
                        <button type="button" id="usar-pacote-btn" class="btn-premium">
                            <i class="fas fa-tag"></i> Usar este pacote
                        </button>
                    </div>
                </div>

                <div id="aviso-beneficio" class="aviso-premium callout callout-info" style="display:none;">
                    <div id="mensagem-beneficio" style="font-weight:600;"></div>
                    <div id="beneficio-botoes" class='btn-premium '></div>
                </div>

                <div  id="pacote_atual"></div>
                <div  id="info_reposicao"></div>
                <div  id="sem_pacote"></div>
                
                <div id="aviso-desmarcacoes" class="aviso-premium" style="display: none;">
                    <div class="aviso-content">
                        <span id="mensagem-desmarcacoes"></span>
                        <button type="button" id="usar-reposicao-btn" class="btn-premium">
                            <i class="fas fa-calendar-plus"></i> Remarcar sessão
                        </button>
                    </div>
                </div>
    
                <div class="formField input-wrapper">
                    <label for="busca"><i class="fas fa-user"></i> Paciente</label>
                    <input required class="capitalize-input input-s" type="text" id="busca" placeholder="Buscar paciente por nome..." autocomplete="off">
                    <input type="hidden" id="paciente_id" name="paciente_id">
                    <div id="sugestoes"></div>
                </div>
                
                <div  class="radio-group">
                    <div class="radio-option">
                        <input type="radio" name="tipo_agendamento" value="novo" id="tipo-novo" checked>
                        <label for="tipo-novo">Nova Sessão / Novo Pacote</label>
                    </div>
                    <div class="radio-option" hidden>
                        <input type="radio" name="tipo_agendamento" value="existente" id="tipo-existente">
                        <label for="tipo-existente">Sessão de Pacote Já Assinado</label>
                        <input type="text" id="pacote_codigo" name="pacote_codigo" class="input-s" placeholder="Digite o código do pacote">
                    </div>
                    <div class="radio-option">
                        <input type="radio" name="tipo_agendamento" value="reposicao" id="tipo-reposicao">
                        <label for="tipo-reposicao">Reposição de Sessão</label>
                    </div>
                </div>

                <div class="formField">
                    <label for="pacotesInput" id="tipo_sessao"><i class="fas fa-concierge-bell"></i> Tipo de sessão</label>
                    <input type="hidden" id="servico_id_hidden" name="servico_id">
                    <input type="hidden" id="beneficio_tipo" name="beneficio_tipo">
                    <input type="hidden" id="beneficio_percentual" name="beneficio_percentual">
                    <input type="hidden" id="incluir_brinde" name="incluir_brinde" value="false">

                    <select name="servico_id" id="pacotesInput" class="input-s" required>
                        <option value="" disabled selected>Selecione um serviço</option>
                        
                        <optgroup label="Pacotes">
                            {% for servico in servicos %}
                            {% if servico.qtd_sessoes >= 2 %}
                            <option value="{{ servico.id }}" data-valor="{{ servico.valor }}"
                                class="servico-banco servico-pacote">
                                {{ servico.nome }} | {{ servico.qtd_sessoes }} {% if qtd_sessoes == 1 %} Sessão {% else %} Sessões {% endif %}- R$ {{ servico.valor }}
                            </option>
                            {% endif %}  
                            {% endfor %}
                        </optgroup>
                        
                        <optgroup label="Sessões Avulsas">
                            {% for servico in servicos %}
                            {% if servico.qtd_sessoes < 2 and not servico.uso_sistema %}
                            <option value="{{ servico.id }}" data-valor="{{ servico.valor }}"
                                class="servico-banco servico-pacote">
                                {{ servico.nome }} - R$ {{ servico.valor }}
                            </option>
                            {% endif %} 
                            {% endfor %}
                        </optgroup>
                        
                        <optgroup label="Reposição" class="optgroup-reposicao" style="display: none;">
                            <!-- Adicionado data-tipo para cada opção -->
                            <option value="d" class="servico-reposicao" data-valor="0.00" data-tipo="d">Reposição - D</option>
                            <option value="dcr" class="servico-reposicao" data-valor="0.00" data-tipo="dcr">Reposição - DCR</option>
                            <option value="fcr" class="servico-reposicao" data-valor="0.00" data-tipo="fcr">Reposição - FCR</option>
 
                        </optgroup>
    
                        <option value="beneficio_sessao_livre" class="servico-beneficio" data-valor="0.00" hidden>Sessão Livre (Benefício)</option>
                        <option value="beneficio_relaxante" class="servico-beneficio" data-valor="0.00" hidden>Sessão Relaxante (Benefício)</option>
                        <option value="beneficio_sessao_aniversario" class="servico-beneficio" data-valor="0.00" hidden>Sessão Relaxante de aniversário (Aniversário)</option>
                    </select>
                </div>
                
                <div class="formRow cols-2">
                    <div class="formField">
                        <label for="especialidadeInput"><i class="fas fa-stethoscope"></i> Especialidade</label>
                        <select name="especialidade_id" id="especialidadeInput" class="input-s" required>
                            <option value="" disabled selected>Selecione a especialidade do atendimento</option>

                            {% for esp in especialidades %}
                            <option value="{{ esp.id }}">
                                {{ esp.nome }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="formField">
                        <label for="profissional1Input"><i class="fas fa-user-md"></i> Profissional</label>
                        <select name="profissional1_id" id="profissional1Input" class="input-s" required>
                            <option value="" disabled selected>Selecione um profissional</option>
                            {% for profissional in profissionais %}
                            <option value="{{ profissional.id }}">
                                {{ profissional.nome }} {{ profissional.sobrenome }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="formRow cols-3">
                    <div class="formField">
                        <label for="dataInput"><i class="fas fa-calendar"></i> Data</label>
                        <input type="date" name="data"  required id="dataInput" class="input-s">
                    </div>
                    <div class="formField">
                        <label for="horaInicioInput"><i class="fas fa-clock"></i> Início</label>
                        <input type="time" name="hora_inicio" id="horaInicioInput" min="06:00" max="00:00" required class="input-s">
                    </div>
                    <div class="formField">
                        <label for="horaFimInput"><i class="fas fa-clock"></i> Fim</label>
                        <input type="time" name="hora_fim" id="horaFimInput" min="06:00" max="00:00" required class="input-s">
                    </div>
                </div>
                
                <div class="formRow cols-2" id='recorrente_sect'>
                        <label class="checkbox-option">
                            <input type="checkbox" name="recorrente" onchange="openRecorrente()" id="recorrente">
                            <span><i class="fas fa-sync-alt"></i> Agendamento Recorrente</span>
                        </label>
                </div>

                <div>
                    <div id="week-recorrente" class="formField-week">
                        <div class="week-div">
                        <!-- Segunda -->
                        <div class="week-day">
                            <label class="checkbox-option">
                            <input type="checkbox" name="recorrente[segunda][ativo]" id="recorrente-segunda">
                            <span>Segunda</span>
                            </label>
                            <div class="formField ffweek">
                            <label for="horaInicio-segunda"><i class="fas fa-clock"></i> Início</label>
                            <input type="time" name="recorrente[segunda][inicio]" id="horaInicio-segunda" min="06:00" max="23:59" class="input-s">
                            </div>
                            <div class="formField ffweek">
                            <label for="horaFim-segunda"><i class="fas fa-clock"></i> Fim</label>
                            <input type="time" name="recorrente[segunda][fim]" id="horaFim-segunda" min="06:00" max="23:59" class="input-s">
                            </div>
                        </div>
                    
                        <!-- Terça -->
                        <div class="week-day">
                            <label class="checkbox-option">
                            <input type="checkbox" name="recorrente[terca][ativo]" id="recorrente-terca">
                            <span>Terça</span>
                            </label>
                            <div class="formField ffweek">
                            <label for="horaInicio-terca"><i class="fas fa-clock"></i> Início</label>
                            <input type="time" name="recorrente[terca][inicio]" id="horaInicio-terca" min="06:00" max="23:59" class="input-s">
                            </div>
                            <div class="formField ffweek">
                            <label for="horaFim-terca"><i class="fas fa-clock"></i> Fim</label>
                            <input type="time" name="recorrente[terca][fim]" id="horaFim-terca" min="06:00" max="23:59" class="input-s">
                            </div>
                        </div>
                        </div>
                    
                        <div class="week-div">
                        <!-- Quarta -->
                        <div class="week-day">
                            <label class="checkbox-option">
                            <input type="checkbox" name="recorrente[quarta][ativo]" id="recorrente-quarta">
                            <span>Quarta</span>
                            </label>
                            <div class="formField ffweek">
                            <label for="horaInicio-quarta"><i class="fas fa-clock"></i> Início</label>
                            <input type="time" name="recorrente[quarta][inicio]" id="horaInicio-quarta" min="06:00" max="23:59" class="input-s">
                            </div>
                            <div class="formField ffweek">
                            <label for="horaFim-quarta"><i class="fas fa-clock"></i> Fim</label>
                            <input type="time" name="recorrente[quarta][fim]" id="horaFim-quarta" min="06:00" max="23:59" class="input-s">
                            </div>
                        </div>
                    
                        <!-- Quinta -->
                        <div class="week-day">
                            <label class="checkbox-option">
                            <input type="checkbox" name="recorrente[quinta][ativo]" id="recorrente-quinta">
                            <span>Quinta</span>
                            </label>
                            <div class="formField ffweek">
                            <label for="horaInicio-quinta"><i class="fas fa-clock"></i> Início</label>
                            <input type="time" name="recorrente[quinta][inicio]" id="horaInicio-quinta" min="06:00" max="23:59" class="input-s">
                            </div>
                            <div class="formField ffweek">
                            <label for="horaFim-quinta"><i class="fas fa-clock"></i> Fim</label>
                            <input type="time" name="recorrente[quinta][fim]" id="horaFim-quinta" min="06:00" max="23:59" class="input-s">
                            </div>
                        </div>
                        </div>
                    
                        <div class="week-div">
                        <!-- Sexta -->
                        <div class="week-day">
                            <label class="checkbox-option">
                            <input type="checkbox" name="recorrente[sexta][ativo]" id="recorrente-sexta">
                            <span>Sexta</span>
                            </label>
                            <div class="formField ffweek">
                            <label for="horaInicio-sexta"><i class="fas fa-clock"></i> Início</label>
                            <input type="time" name="recorrente[sexta][inicio]" id="horaInicio-sexta" min="06:00" max="23:59" class="input-s">
                            </div>
                            <div class="formField ffweek">
                            <label for="horaFim-sexta"><i class="fas fa-clock"></i> Fim</label>
                            <input type="time" name="recorrente[sexta][fim]" id="horaFim-sexta" min="06:00" max="23:59" class="input-s">
                            </div>
                        </div>
                    
                        <!-- Sábado -->
                        <div class="week-day">
                            <label class="checkbox-option">
                            <input type="checkbox" name="recorrente[sabado][ativo]" id="recorrente-sabado">
                            <span>Sábado</span>
                            </label>
                            <div class="formField ffweek">
                            <label for="horaInicio-sabado"><i class="fas fa-clock"></i> Início</label>
                            <input type="time" name="recorrente[sabado][inicio]" id="horaInicio-sabado" min="06:00" max="23:59" class="input-s">
                            </div>
                            <div class="formField ffweek">
                            <label for="horaFim-sabado"><i class="fas fa-clock"></i> Fim</label>
                            <input type="time" name="recorrente[sabado][fim]" id="horaFim-sabado" min="06:00" max="23:59" class="input-s">
                            </div>
                        </div>
                        </div>
                    </div>
                    
                </div>
                
                <div id="formValor" class="formRow cols-3">
                    <div class="formField">
                        <label for="valor_pacote"><i class="fas fa-tag"></i> Valor Pacote</label>
                        <input id="valor_pacote" name="valor_pacote" type="number" step="0.01" class="input-s" readonly>
                    </div>

                    <div class="formField input-wrapper">
                        <label for="desconto"><i class="fas fa-percent"></i> <span id="desconto_label">Desconto (%)</span></label>
                        <input oninput="calcularDesconto()" id="desconto" name="desconto" type="number" step="0.01" class="input-s">
                        <input type="hidden" id="modo_desconto" name="modo_desconto" value="%">
                        <button type="button" id="desconto_button" class="modo_desconto" onclick="alternarModoDesconto()">R$</button>
                    </div>

                    <div class="formField">
                        <label for="valor_final"><i class="fas fa-dollar-sign"></i> Valor final</label>
                        <input oninput="alterarDesconto()"  id="valor_final" name="valor_final" type="number" step="0.01" class="input-s" required>
                        <input type="hidden" id="valor_pago_atual" name="valor_pago_atual" value="0.00">
                    </div>
                </div>
                
                <div id="info_pacote" class="hidden">
                    <table class="tabela-premium">
                        <tbody>
                            <tr>
                                <th>Código do Pacote</th>
                                <td id="codigo_pacote_display"></td>
                            </tr>
                            <tr>
                                <th>Valor Pago</th>
                                <td>R$ <span id="valor_pago_display"></span></td>
                            </tr>
                            <tr>
                                <th>Valor Restante</th>
                                <td>R$ <span id="valor_restante_display"></span></td>
                            </tr>
                            <tr>
                                <th>Sessão Atual</th>
                                <td><span id="sessao_atual_display"></span> de <span id="total_sessoes_display"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <div class="formRow cols-2" id='receb_sect'>
                    <div class="formField">
                        <label for="valor_pago_input"><i class="fas fa-money-bill-wave"></i> Valor pago</label>
                        <input type="number" name="valor_pago" id="valor_pago_input" placeholder="Valor pago" step="0.01" class="input-s">
                    </div>
                    <div class="formField">
                        <label for="forma_pagamento_select"><i class="fas fa-credit-card"></i> Forma de pagamento</label>
                        <select name="forma_pagamento" id="forma_pagamento_select" class="input-s">
                            <option value="" disabled selected>Selecione...</option>
                            <option value="pix">Pix</option>
                            <option value="credito">Cartão de Crédito</option>
                            <option value="debito">Cartão de Débito</option>
                            <option value="dinheiro">Dinheiro</option>
                            <option value="outro">Outro</option>
                        </select>
                    </div>
                </div>
                

                <div class="formRow cols-2">
                    <div class="formField">
                        <label for="ambiente_select"><i class="fas fa-door-open"></i> Ambiente / Sala</label>
                        <select required name="ambiente" id="ambiente_select" class="input-s">
                            <option value="">Selecione...</option>
                            {% for sala in salas %}
                                <option value="{{ sala.id }}">{{ sala.nome_sala }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="formField">
                        <label for="status_select"><i class="fas fa-clipboard-check"></i> Status de agendamento</label>
                        <select required name="status" id="status_select" class="input-s">
                            <option value="" disabled selected>Selecione...</option>
                            <option value="agendado">✅ Agendado</option>
                            <option value="pre">✅ Pré-Agendado</option>
                        </select>
                    </div>
                </div>
                
                <div class="formField">
                    <label for="observacoes_textarea"><i class="fas fa-sticky-note"></i>Observações</label>
                    <textarea class="textarea-large input-s" name="observacoes" id="observacoes_textarea"></textarea>
                </div>

            </form>
        </div>

        <div class="modal-footer">
            <button class="btn-footer" type="submit" form="agendamentoForm">Agendar</button>
        </div>

    </div>
</div>

<div class="modal-overlay"id="modalRegistroTempo">
  
  <div class="modal"> <!-- container do modal -->

    <div class="header-sidebar">
      <h2>Registrar Tempo</h2>
      <button type="button" class='modal-close' id="closeBtnRegistroTempo">&times;</button>
    </div>

    <div class="modal-content">
        <form id="registroTempoForm">

        {% csrf_token %}

        <!-- PROFISSIONAL -->
        <div class="formField">
            <label><i class="fas fa-user"></i> Profissional</label>
            <select name="profissional_id" id="profissionalSelect" class="input-s" required>
            <option value="" disabled selected>Selecione um profissional</option>
            {% for profissional in profissionais %}
                <option value="{{ profissional.id }}">
                {{ profissional.nome }}
                </option>
            {% endfor %}
            </select>
        </div>

        <!-- TIPO REGISTRO -->
        <div class="formField">
            <label><i class="fas fa-list"></i> Registro</label>
            <select name="tipo_registro" id="tipoRegistroSelect" class="input-s" required>
            <option value="" disabled selected>Selecione um registro...</option>
            {% for registro in registros %}
                <option value="{{ registro.0 }}">
                {{ registro.1 }}
                </option>
            {% endfor %}
            </select>
        </div>
        <div class="formField">
            <label for="dataInput"><i class="fas fa-calendar"></i> Data</label>
            <input type="date" name="dataTempo"  required id="dataInput" class="input-s">
        </div>
        <!-- HORAS -->
        <div class="formRow cols-2">
            <div class="formField">
            <label><i class="fas fa-clock"></i> H. Início</label>
            <input type="time" name="hora_inicio" id="horaInicio" class="input-s" required>
            </div>

            <div class="formField">
            <label><i class="fas fa-clock"></i> H. Término</label>
            <input type="time" name="hora_fim" id="horaFim" class="input-s" required>
            </div>
        </div>

        <div class="formActions">
            <button type="submit" class="btn-footer">Registrar Tempo</button>
        </div>

        </form>
    </div>

  </div>
</div>


<div style="display:none;" class="modal-overlay" id="exConfModal">
    <div class="modal">

        <div class="modal-header">
            <div class="modal-title">
                <h2>Confirmar exclusão?</h2>
                <span>
                    Você está aplicando <strong>desistência</strong> a uma sessão avulsa.
                    Essa ação irá <strong>cancelar a receita</strong> no sistema e irá cancelar qualquer tipo de interação com esse agendamento.
                </span>
            </div>
            <button class="modal-close" onclick="closeModal('exConfModal')">&times;</button>
        </div>

        <div class="modal-body">
            <div id="previewReceitaBox" class="preview-box" style="display:none;">
                <strong>❌ Receita será cancelada</strong>
                <div class="preview-linha">
                    <span>Valor:</span> <strong id="prevValor"></strong>
                </div>
                <div class="preview-linha">
                    <span>Status atual:</span> <strong id="prevStatus"></strong>
                </div>
                <div class="preview-linha">
                    <span>Vencimento:</span> <strong id="prevVencimento"></strong>
                </div>
            </div>

            <div class="form-group">
                <label class="form-label">Motivo do cancelamento</label>
                <textarea id="motivo_cancelamento_sessao"
                          class="form-textarea"
                          placeholder="Descreva o motivo (opcional)"></textarea>
            </div>

            <div class="form-group">
                <label class="form-label">
                    Digite <strong>CONFIRMAR</strong> para continuar
                </label>
                <input id="confID"
                       type="text"
                       class="form-input"
                       placeholder="CONFIRMAR">
            </div>

            <div class="form-actions">
                <button class="btn btn-danger" onclick="confirmarDesistencia()">
                    Confirmar desistência
                </button>
            </div>

        </div>
    </div>
</div>

{% include "core/partials/_modal_agendamento.html" %}
{% include "core/partials/modal_edit_agenda.html" %}
{% include "core/partials/alertas.html" %}
{% endblock %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://unpkg.com/imask"></script>
<script src="{% static 'core/js/base/campoObrigatorio.js' %}"></script>
<script src="{% static 'core/js/base/abrirFiltro.js' %}"></script>
<script src="{% static 'core/js/agenda/baseAgenda.js' %}"></script>
 
{% endblock %}