{% extends 'core/base.html' %}
{% load static %}

{% block title %}Central de Relatórios · Ponto de Equilíbrio{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/administrativo/relatorios.css' %}">
<link rel="stylesheet" href="{% static 'core/css/tema.css' %}">
 
{% endblock %}

{% block topbar_title %}<i class="fas fa-chart-pie"></i>Central de Relatórios{% endblock %}

{% block content %}

    <div class="content">
 

        <div class="search-wrapper">
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input type="text" id="searchInput" placeholder="Buscar relatório por nome (ex: financeiro, faltas...)">
            </div>
        </div>

        <div id="setoresContainer"></div>
    </div>

    <div class="modal-overlay" id="modalFiltros">
        <div class="modal-card">
            <h2 id="modalTitulo">Filtrar Relatório</h2>
            <div class="campos-base">
                <div class="campo-group">
                    <label>Data inicial</label>
                    <input type="date" id="dataInicio" value="2026-01-01">
                </div>
                <div class="campo-group">
                    <label>Data final</label>
                    <input type="date" id="dataFim" value="2026-01-31">
                </div>
            </div>
            <div id="extraFieldsContainer" class="extra-fields"></div>
            <div class="modal-actions">
                <button class="btn-cancelar" id="btnCancelarModal">Cancelar</button>
                <button class="btn-confirmar" id="btnConfirmarModal">Confirmar</button>
            </div>
        </div>
    </div>


{% include "core/partials/alertas.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static '/core/js/administrativo/relatoriosBase.js' %}"></script>
 

 
{% endblock %}