{% extends 'core/base.html' %}

{% load static %}
{% block title %}Dashboard - Ponto de Equilíbrio{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'core/css/tema.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

{% endblock %}




 
    {% block topbar_title %}<span class="text">Dashboard</span>{% endblock %}

   
{% block content %}
<div class="content">

  <div class="cards-grid">
    <!-- Card 1 -->
    <div class="card card-blue">
        <div class="card-content">
            <div class="card-text">
                        <div class="card-icon" style='display:flex; align-items:center; gap:1em;'>
                <i class="fas fa-users"></i>
                <p>Pacientes ativos</p>
            </div>
                
                <h3>{{ total_pacientes_ativos }}</h3>
               
                <p class="trend trend-up"><i class="fas fa-arrow-down"></i> {{variacao_pacientes_ativos}}</p>
 
            </div>
 
        </div>
    </div>
    
    <!-- Card 2 -->
    <div class="card card-green">
        <div class="card-content">
            <div class="card-text">
            <div class="card-icon" style='display:flex; align-items:center; gap:1em;'>
                <i class="fas fa-user-doctor"></i>
                <p>Profissionais ativos</p>
            </div>
                
                <h3>{{ total_profissionais_ativos }}</h3>
                <p class="trend trend-up"><i class="fas fa-arrow-up"></i> {{variacao_profissionais_ativos}}</p>
            </div>
 
        </div>
    </div>
    
    <!-- Card 3 -->
    <div class="card card-purple">
        <div class="card-content">
            <div class="card-text">
            <div class="card-icon" style='display:flex; align-items:center; gap:1em;'>
               <i class="fas fa-calendar-week"></i>
                <p>Atendimentos semana</p>
            </div>
                
                
                <h3>{{ agendamentos_semana }}</h3>
                {% if variacao_pacientes_ativos <= 0 %}
                <p class="trend trend-up"><i class="fas fa-arrow-down"></i> {{variacao_agendamentos}}% a menos que semana passada</p>
                {% else %}
                <p class="trend trend-up"><i class="fas fa-arrow-up"></i> {{variacao_agendamentos}}% a mais que semana passada</p>
                {% endif %}
               
            </div>
 
        </div>
    </div>
        <div class="card card-yellow">
        <div class="card-content">
            <div class="card-text">
            <div class="card-icon" style='display:flex; align-items:center; gap:1em;'>
                <i class="fas fa-calendar-day"></i>
                <p>Sessões hoje</p>
            </div>
                
                <h3>{{ agendamentos_dia }}</h3>
                {% if variacao_sessao <= 0 %}
                <p class="trend trend-up"><i class="fas fa-arrow-down"></i> {{variacao_sessao}}% a menos que ontem</p>
                {% else %}
                <p class="trend trend-up"><i class="fas fa-arrow-up"></i> {{variacao_sessao}}% a mais que ontem</p>
                {% endif %}
               
            </div>
        </div>
    </div>
    <div class="card card-red">
        <div class="card-content">
            <div class="card-text">
            <div class="card-icon" style='display:flex; align-items:center; gap:1em;'>
                <i class="fas fa-circle-check"></i>
                <p>Sessões finalizadas</p>
            </div>
                
                <h3>{{agendamentos_dia_finalizados}}</h3>
                <p>{{variacao_finalizadas}}% do total de hoje</p>
            </div>
 
        </div>
    </div>
    
    <!-- Card 6 -->
    <div class="card card-orange">
        <div class="card-content">
            <div class="card-text">
            <div class="card-icon" style='display:flex; align-items:center; gap:1em;'>
                <i class="fas fa-calendar-xmark"></i>
                <p>Faltas hoje</p>
            </div>
                
                <h3>{{faltas_dia}}</h3>
                <p>{{variacao_pendentes}}% do total de hoje</p>
            </div>

        </div>
    </div>

</div>
  <div class="section">
    <h2>Atendimentos do dia</h2>
    <table>
      <thead>
        <tr>
          <th></th>
          <th class='col-hora'>Horário</th>
          <th class='col-paciente'>Paciente</th>
          <th class='col-profissional'>Profissional</th>
          <th class='col-especialidade'>Especialidade</th>
          <th class='col-infos'>Informações do pacote</th>
          <th class='col-status'>Status</th>
          <th class='col-acoes'>Ações</th>
        </tr>
      </thead>
      <tbody>
        {% if agendamentos %}
          {% for agendamento in page_obj %}
            <tr>
              <td style="width: 2px; background-color: {{ agendamento.especialidade.cor }};" data-tooltip="{{ agendamento.especialidade.nome }}"></td>
              <td>{{ agendamento.hora_inicio }} - {{ agendamento.hora_fim }}</td>
              <td>{{ agendamento.paciente.nome }} {{ agendamento.paciente.sobrenome }}</td>
              <td>{{ agendamento.profissional_1.nome }} {{ agendamento.profissional_1.sobrenome }}</td>
              <td>{{ agendamento.especialidade.nome }}</td>
              <td>
                {% if agendamento.sessao_atual %}
                  {% if agendamento.codigo|slice:":3" == "REP" %}
                    <span class="sessao reposicao"><i class="fa-solid fa-rotate-left"></i>Sessão de Reposição | {{ agendamento.codigo }}</span>
                  {% elif agendamento.codigo|slice:":3" == "BEN" %}
                     <span class="sessao beneficio"><i class="fa-solid fa-gift"></i>Sessão de Benefício | {{ agendamento.codigo }}</span>
                  {% else %}
                    <span class="sessao normal"><i class="fa-solid fa-calendar-check"></i>
                      Sessão {{ agendamento.sessao_atual }} de {{ agendamento.sessoes_total }} | {{ agendamento.sessoes_restantes }} restante(s) | {{ agendamento.codigo }}
                    </span>
                  {% endif %}
                {% else %}
                  <span class="sessao">Sessões finalizadas</span>
                {% endif %}
              </td>
                <td class="status-col">
                <span class="status-badge
                    {% if agendamento.status == 'pre' %} status-pre
                    {% elif agendamento.status == 'agendado' %} status-agendado
                    {% elif agendamento.status == 'finalizado' %} status-finalizado
                    {% elif agendamento.status == 'desistencia' %} status-desistencia
                    {% elif agendamento.status == 'desistencia_remarcacao' %} status-dcr
                    {% elif agendamento.status == 'falta_remarcacao' %} status-fcr
                    {% elif agendamento.status == 'falta_cobrada' %} status-falta
                    {% else %} status-default
                    {% endif %}
                ">
                    {% if agendamento.status == 'pre' %}✅ Pré-Agendado
                    {% elif agendamento.status == 'agendado' %}✅ Agendado
                    {% elif agendamento.status == 'finalizado' %}✅ Consulta finalizada!
                    {% elif agendamento.status == 'desistencia' %}❌ D - Desistência
                    {% elif agendamento.status == 'desistencia_remarcacao' %}⚠️ DCR - Desmarcação com reposição
                    {% elif agendamento.status == 'falta_remarcacao' %}⚠️ FCR - Falta com reposição
                    {% elif agendamento.status == 'falta_cobrada' %}❌ FC - Falta cobrada
                    {% else %}—{% endif %}
                </span>
                </td>

              <td>
                <div class="actions-col">
                  <a href="{% url 'confirmacao_agendamento' agendamento.id %}">
                    <button type="button" class="action-btn" data-tooltip="Ver detalhes"><i class="fa-solid fa-eye"></i></button>
                  </a>
                </div>
              </td>
              </form>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
          <td colspan="8">
            <div class="empty-state">
                        <div class="empty-icon">
                            <i class="far fa-check-circle"></i>
                        </div>
                        <h3 class="empty-title">Nenhum agendamento para hoje!</h3>
                    </div></td></tr>
        {% endif %}
      </tbody>
      
    </table>
    {% include 'core/partials/_paginacao.html' %}
  </div>

<!-- Second Row of Quick Stats
<div class="cards-grid-2">
     

    
</div> -->

  <div class="section">
  <h2>Visão Geral dos Atendimentos</h2>
<div class="charts-row charts-row-1">
 
    <div class="chart-container">
        <div class="chart-header">
            <h3 class="chart-title">Atendimentos por dia (últimos 7 dias)</h3>
 
        </div>
    <div  style="position: relative; width: 100%; max-width: 900px; margin: auto;" class="chart-canvas-container">
        <canvas id="barChart"></canvas>
    </div>

    {{ chart_data|json_script:"chart-data" }}

    </div>
    
    <!-- Chart 2 -->
    <div class="chart-container">
        <div class="chart-header">
            <h3 class="chart-title">Evolução mensal de atendimentos</h3>

        </div>
        <div class="chart-canvas-container">
            <canvas id="evolucaoMensalChart"></canvas>
        </div>
        {{ evolucao_mensal_data|json_script:'evolucao-chart' }}
    </div>
        <!-- Chart 3 -->
    <div class="chart-container">
        <div class="chart-header">
            <h3 class="chart-title">Distribuição por profissional</h3>
           
        </div>
        <div class="chart-canvas-container">
            <canvas id="distribuicaoProfissionalChart"></canvas>
            {{ distribuicao_por_profissional|json_script:'distribuicao_por_profissional-chart' }}
        </div>
    </div>
</div>

<!-- Charts Row 2 -->
<div class="charts-row charts-row-2">

    
    <!-- Chart 4 -->
    <div class="chart-container">
        <div class="chart-header">
            <h3 class="chart-title">Serviços mais contratados</h3>
       
        </div>
        <div class="chart-canvas-container"  style="display: flex; align-items: center;">
            <canvas id="servicosChart"></canvas>
            {{ servicos_mais_contratados|json_script:'servicos-chart' }}
        </div>
    </div>
    
    <!-- Chart 5 -->
    <div class="chart-container">
        <div class="chart-header">
            <h3 class="chart-title">Status dos agendamentos</h3>
 
        </div>
        <div class="chart-canvas-container">
            <canvas id="statusChart"></canvas>
            {{ grafico_status_agendamentos|json_script:'status-chart' }}
        </div>
    </div>
        <div class="chart-container">
        <div class="chart-header">
            <h3 class="chart-title">Formas de pagamento</h3>
 
        </div>
        <div class="chart-canvas-container">
            <canvas id="pagamentoChart"></canvas>
            {{ grafico_formas_pagamento|json_script:'formas_pagamento-chart' }}
        </div>
    </div>
</div>
</div>
 

</div>


 

{% endblock %} 

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
<script src="https://unpkg.com/imask"></script>
<script src="{% static '/core/js/base/scriptBase.js' %}"></script>
<script src="{% static '/core/js/pacientes/base.js' %}"></script>
<script src="{% static '/core/js/pacientes/cep.js' %}"></script>
<script src="{% static '/core/js/dashboard/chartDash.js' %}"></script>
{% endblock %}
 