{% load static %}
 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/partials/filtros/filtro_auditoria.css' %}">
 
{% endblock %}

<div class="filtro-universal">
    <div class="filtro-header">
        <h2><i class='bx bx-filter-alt'></i> Filtros</h2>
        <div>
            <button type="button" class="filtro-toggle">
                <i class='bx bx-chevron-up'></i>
            </button>
        </div>
    </div>
    <form method="get">
        <div class="filtro-body">
            <div class="filtro-campo">
                <label for="filtro-acao">Ação</label>
                <select name="acao" class="filtro-select">
                    <option value="">Todas</option>
                    {% for opcao in acoes_disponiveis %}
                    <option value="{{ opcao }}" {% if filtros.acao == opcao %}selected{% endif %}>
                        {{ opcao|title }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="filtro-campo">
                <label for="filtro-modelo">Módulo</label>
                <select name="modelo" class="filtro-select">
                    <option value="">Todos</option>
                    {% for opcao in modelos_disponiveis %}
                    <option value="{{ opcao }}" {% if filtros.modelo == opcao %}selected{% endif %}>
                        {{ opcao }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="filtro-campo">
                <label>Data Início</label>
                <input type="date" name="data_inicio" value="{{ filtros.data_inicio|default_if_none:'' }}" class="filtro-input">
            </div>

            <div class="filtro-campo">
                <label>Data Fim</label>
                <input type="date" name="data_fim" value="{{ filtros.data_fim|default_if_none:'' }}" class="filtro-input">
            </div>
          <div class="filtro-acoes">
          <a href="{% url 'agenda' %}" class="clear-btn"><i class="fa-solid fa-x"></i>Limpar</a>
              <button type="submit" name="filtrar" value="1" class="btn btn-primary">
              <i class="fa-solid fa-filter"></i> Procurar
            </button>
            
         </div>
    
        </div>
 
    </form>
</div>