{% load static %}
 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/partials/filtros/filtro_auditoria.css' %}">
 
{% endblock %}

<div class="filtro-universal">
    <div class="filtro-header">
        <h2><i class='bx bx-filter-alt'></i> Filtros</h2>
        
        <div>
            <button class="btn-primary" id="openModalBtn">
                <i class="fas fa-plus"></i> Enviar Documento
            </button>
            <button type="button" class="filtro-toggle">
                <i class='bx bx-chevron-up'></i>
            </button>
        </div>
        
    </div>
    <form method="get">
        <div class="filtro-body">
          <div class="filtro-campo">
            <label for="filtro-categoria">Nome do Documento</label>
            <select name="nome_documento" class="filtro-select">
                <option value="">Selecione o documento</option>
                
                {% for documento in lista_documentos %}
                <option value="{{ documento.id }}" 
                        {% if request.GET.nome_documento == documento.id|stringformat:"s" %}selected{% endif %}>
                    {{ documento.tipo_documento }}
                </option>
                {% endfor %}
                </select>
            </div>

            <div class="filtro-campo">
                <label for="filtro-categoria">Status</label>
                <select name="status" class="filtro-select">
                <option value="">Selecione o status</option>
                
                {% for status in status_documento %}
                <option value="{{ status.0 }}" 
                        {% if request.GET.status == status.0 %}selected{% endif %}>
                        
                    {{ status.1 }}
                </option>
                {% endfor %}
                </select>
            </div>

            <div class="filtro-campo">
                <label>Data Início</label>
                <input type="date" name="data_inicio" value="{{ filtros.data_inicio|default_if_none:'' }}" class="filtro-input">
            </div>

            <div class="filtro-campo">
                <label>Data Fim</label>
                <input type="date" name="data_fim" value="{{ filtros.data_fim|default_if_none:'' }}" class="filtro-input">
            </div>
          <div class="filtro-acoes">
          <a href="{% url 'agenda' %}" class="clear-btn"><i class="fa-solid fa-x"></i>Limpar</a>
              <button type="submit" name="filtrar" value="1" class="btn btn-search">
              <i class="fa-solid fa-filter"></i> Procurar
            </button>
            
         </div>
    
        </div>
 
    </form>
</div>